<div class="message-box">
  <%if(chat.length){%> 
    <% chat.forEach(el=>{ %>
        <div>
            <span><%= el.time%></span>
            <span><%= el.email%>:</span>
            <span><%= el.text%></span>
        </div>
    <% }) %> 
  <% } %>
</div>
